*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#f2f5f9;
}

header{
height:120px;
background:#0b4ca0;
color:white;

display:flex;
align-items:center;
justify-content:space-between;

padding:20px;
}

.logo-area{
display:flex;
align-items:center;
gap:20px;
}

.logo-area img{
height:80px;
}

#relogio{
font-size:48px;
font-weight:bold;
}

#clima{
font-size:26px;
}

.topo-grid{
display:grid;
grid-template-columns:2fr 1fr;
gap:20px;
padding:20px;
}

.galeria img{
width:100%;
height:350px;
object-fit:cover;
border-radius:20px;
}

.proximo-jogo{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.jogo{
font-size:32px;
font-weight:bold;
text-align:center;
margin-top:40px;
}

.hora-jogo{
font-size:45px;
text-align:center;
color:#0b4ca0;
margin-top:30px;
}

.jogos{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:20px;
padding:20px;
}

.dia{
background:white;
border-radius:20px;
padding:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.dia h2{
background:#0b8d3b;
color:white;
padding:10px;
border-radius:10px;
margin-bottom:15px;
}

.card-jogo{
background:#eef3fa;
padding:15px;
border-radius:10px;
margin-bottom:10px;
}

footer{
background:#0b4ca0;
color:white;
text-align:center;
padding:20px;
}
